<form class="container mt-4" name="container-form" method="POST" action="/courses/handle-action">
    <div>
        <h3>Khoá học của tôi</h3>
        <a href="/me/trash/courses">Thùng rác [{{deleted}}]</a>
    </div>
    <div class="action" style="display: flex; justify-content: flex-end">
        <select class="form-select" name="action" required aria-label="Default select example" style="width: 200px; margin-right: 20px">
            <option value="">Hành động</option>
            <option value="delete">Xoá</option>
        </select>
        <button class="btn btn-primary btn-action disabled">Thực hiện</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkAll">
                    </div>
                </th>
                <th scope="col">#</th>
                <th scope="col">Tên khoá học</th>
                <th scope="col">Mô tả</th>
                <th scope="col" colspan="2">Ảnh</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <td scope="col">
                        <div class="form-check">
                            <input class="form-check-input" name="courseIDs[]" type="checkbox" value="{{this._id}}">
                        </div>
                    </td>
                    <td scope="row">{{sum @index 1}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>
                        <img src="{{this.image}}" width="100px" height="60px"/>
                    </td>
                    <td>
                        <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                        <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#delete_course" data-id="{{this._id}}" id="btn_delete">Xoá</a>
                    </td>
                </tr>

            {{else}}

            <tr>
                <td colspan="5">Bạn chưa đăng khoá học nào <a href="/courses/create">Đăng khoá học</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>


{{!-- Show modal delete course --}}
<div class="modal fade" id="delete_course" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Xoá</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Bạn có chắc chắn muốn xoá khoá học này không?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="btn_delete_of_modal">Xác nhận</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
        </div>
        </div>
    </div>
</div>

{{!-- DELETE FORM HIDDEN --}}

<form name='form_delete' method="POST"></form>

<script>
    const formDelete = document.forms['form_delete'];
    const btnDeleteOfModal = document.getElementById('btn_delete_of_modal')
    const btnDelete = document.querySelectorAll('#btn_delete')

    // input check handle
    const formContainer = document.forms['container-form']
    const checkAllBtn = document.getElementById('checkAll')
    const listCheckBoxBtn = document.querySelectorAll("input[name='courseIDs[]']")
    const btnAction = document.querySelector('.btn-action')

    checkAllBtn.onchange = () => {
        var isCheckAll = checkAllBtn.checked
        for(let i = 0; i < listCheckBoxBtn.length; i++) {
            listCheckBoxBtn[i].checked = isCheckAll
        }
        reRenderBtnAction()
    }

    for(let i = 0; i < listCheckBoxBtn.length; i++) {
        listCheckBoxBtn[i].onchange = () => {
            var countChecked = listCheckBoxBtn.length === document.querySelectorAll("input[name='courseIDs[]']:checked").length
            checkAllBtn.checked = countChecked
            reRenderBtnAction()
        }
    }

    function reRenderBtnAction () {
        var checkedCount = document.querySelectorAll("input[name='courseIDs[]']:checked").length
        if(checkedCount > 1) {
            btnAction.classList.remove('disabled')
        } else {
            btnAction.classList.add('disabled')
        }
    }

    formContainer.onsubmit = () => {
        var isSubmitable = btnAction.hasClass('disabled')
        if(!isSubmitable) {
            formContainer.submit()
        }
    }

    // handle delete course
    let courseID;
    for(var i = 0; i < btnDelete.length; i++) {
        btnDelete[i].onclick = function(e) {
            courseID = this.getAttribute('data-id');
            //console.log(courseID);

            btnDeleteOfModal.onclick= function(e){  // sau đó click vào button confirm xóa để 
                formDelete.action = `/courses/${courseID}?_method=DELETE`; // truyền  url chứa id của từng khóa học vào action và với method DELETE
                formDelete.submit();
            }
        }
    }
</script>